<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script>
    var bookId = <%= bookId%>;
  </script>
  <script src="/javascripts/comic.js"></script>
  <style>
    * {
      margin: 0px;
      padding: 0px;
    }

    .left-click{
      position:absolute;
      width: 50%;
      height: 100%;
      top:0px;
      left:0px;
      z-index:100;
    }

    .right-click{
      position:absolute;
      width: 50%;
      height: 100%;
      top:0px;
      right:0px;
      z-index:100;
    }
  </style>
  </head>
  <body>
    <div align="center">
    <h1 id="title"></h1>
    </div>
    <div align="center" id="content">
    </div>
    <input id="target-chapter"/><button type="button" id="go">前往</button>
    <div class="left-click"></div>
    <div class="right-click"></div>
  </body>
</html>
