body{
	background-image:url('../Resources/background.png')
}

#content{
	width: 800;
	height: 600;
}

.animationPart{
	background-image:url('../Resources/background.png')
}

.glassCover{
	border: 8px white solid;
	width: 800px; 
	height: 600px;
}

.footer{
	background-image:url('../Resources/di.png');
	width: 1025px; 
	height: 337px;
}